body {
    font-family: sans-serif;
    background-image:url(../APIChallenge1/Assets/studio-ghibli-free-wallpaper-download-info-01.jpg);

}

.box {
    background-color: blue;
    width: 300px;
    height: 375px;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
}
    

.Ghibli{
    font-family: 'Zen Dots', cursive; 
    color:black; font-size: 5em;
    font-weight: 90px;
    line-height: .5 em; letter-spacing: -.07em;
    margin-bottom: 10px;

}


h2 {
    font-size: 20px;
}
